%h1.pagetitle Viewing managed email

%div.content
  #managed_email
    %p
      %b Date Sent:
      = @managed_email.date_sent
    %p
      %b From:
      = @managed_email.from
    %p
      %b Reply To:
      = @managed_email.reply_to
    %p
      %b To:
      = @managed_email.to
    %p
      %b CC:
      = @managed_email.cc
    %p
      %b BCC:
      = @managed_email.bcc
    %p
      %b Headers:
      = @managed_email.headers
    %p
      %b Message ID:
      = @managed_email.message_id
    %p
      %b Subject:
      = @managed_email.subject
    %p
      %b Body:
      %br
      %iframe{ :width => "600", :height => "512", :src => "#{email_manager_managed_email_body_path(@managed_email)}" }
        %p
          Your browser does not support iframes.
        = @managed_email.body
    %p
      %b Caller:
      = @managed_email.caller

= link_to "Back", email_manager_managed_emails_path
